body {
    font-family: Arial, Helvetica, sans-serif;
}

#shet{
	margin: 1.5em 0.1em 1.5em 85em;
	background-color: gray;
	border: 10px double black;
	border-radius: 30 px;
	padding: 30px;
	width: 400px;
}

.hf{
	background-color: #00bfff;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

.dyd:hover{
	color:white
}

#vihod:hover{
	color:white
}

#vihod{
	margin: 0.1em 0.1em 0.1em 85em		
}

#aleks{
	margin: 0.1em 0.1em 0.1em 100em
}

#ss{
	color: purple;
}

header.hf{
	text-align: center
}